<header class="main-header">
  <h1 class="title">Admin-CV</h1>
  <nav class="nav-links">
    <div class="dropdown">
      <button class="dropbtn">Menú</button>
      <div class="dropdown-content">
        <a routerLink="/header">Header</a>
        <a routerLink="/work-experience">Work Experience</a>
        <a routerLink="/education">Education</a>
        <a routerLink="/certificates">Certificates</a>
        <a routerLink="/skills">Skills</a>
        <a routerLink="/languages">Languages</a>
        <a routerLink="/interests">Interests</a>
      </div>
    </div>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>